<h2>Editing {{movies.title}}</h2>

<form action="/movies/{{movies._id}}/edit" method="POST">
  <label>Title
    <input type="text" name="name" value="{{movies.title}}">
  </label>
  <label>
  Genre
  <input type="text" name="plot" value="{{movies.plot}}">
  </label>
  <label>
    Plot
    <textarea name="plot" cols="30" rows="2" >
    {{movies.plot}}
    </textarea>
  </label>
  <button type="submit">Create</button>
</form>